<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/services.css">
    <title>Services</title>
</head>
<body>
    <div class="topnav">
        <a class="active" href="index.html">Home</a>
        <a href="picture.html">Gallery</a>
        <a href="lifestory.html">About</a>
        <a href="services.html">Services</a>
      </div>
      <div class="services">
        <p>Samiranna Photography specializes in wedding photography offering a range of enjoyment shoots ceremony and reception coverage and custom photo albums they also provide photography services for other special occasion such as anniversaries, family gatherings, and milestone events.</p>
      </div>
      <div class="personal">
        <!-- I tried to copy it down the best I could but some of the words are like atually gone -->
        <p>What sets Samiranna apart is their personalized approach to each project. They takes the time to understand the unique stories and prefrences of their clients, ensuring that each photo shoot reflects the individually of the people and the event.</p>
      </div>
      <!-- This img tag is for the logo thing like how it is on the wireframe -->
      <img src="">

      <div class="footer"></div>
</body>
</html>