html {
  background-color: #F1E2D8;
}

@font-face {
  font-family: BlackMango-ExtraLight;
  src: url(./fonts/BlackMango-ExtraLight.ttf)
}

.topnav {
  font-family: BlackMango-ExtraLight;
  background-color: #DFB79E;
  overflow: hidden;
  text-align: center;
  align-items: center;
}

.topnav a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  left: 150px;
}

.topnav a:hover {
  background-color: #F1E2D8;
  color: #DFB79E;
}

.topnav a.active {
  background-color: #DFB79E;
  color: white;
}

  .footer {
    background-color: #DFB79E;
    color: #DFB79E;
    text-align: center;
    padding: 20px;
    margin-top: 5%;
  }

  .grid {
    margin-top: 30px;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr, 1fr,  1fr, 1fr, 1fr;
    grid-template-rows:  1fr,  1fr, 1fr, 1fr, 1fr;
    justify-content: center;
    align-content: center;
    
  }

  /* img {
    border: #F1E2D8 solid 4px;
  } */

 .img1 {
  width: 300px;
  height: 200px;
  grid-column: 3/4;
  grid-row: 1/2;
  border-top: #CF8562 solid 5px;
}

.img2 {
  width: 600px;
  height: 400px;
  grid-column: 1/3;
  grid-row: 1/3;
  border-top: #CF8562 solid 5px;
  border-left: #CF8562 solid 5px;
}

.img3 {
  width: 300px;
  height: 200px;
  grid-column: 4/5;
  grid-row: 1/2;
  border-top: #CF8562 solid 5px;
  border-right: #CF8562 solid 5px;
}

.img4 {
  width: 300px;
  height: 200px;
  grid-column: 3/4;
  grid-row: 2/3;
}

.img5 {
  width: 600px;
  height: 400px;
  grid-column: 3/5;
  grid-row: 3/5;
  border-right: #CF8562 solid 5px;
  border-bottom: #CF8562 solid 5px;
}

.img6 {
  width: 300px;
  height: 200px;
  grid-column: 4/5;
  grid-row: 2/3;
  border-right: #CF8562 solid 5px;
}

.img7 {
  width: 300px;
  height: 200px;
  grid-column: 1/2;
  grid-row: 3/4;
  border-left: #CF8562 solid 5px;
}

.img8 {
  width: 300px;
  height: 200px;
  grid-column: 2/3;
  grid-row: 3/4;
}

.img9 {
  width: 300px;
  height: 200px;
  grid-column: 1/2;
  grid-row: 4/5;
  border-bottom: #CF8562 solid 5px;
  border-left: #CF8562 solid 5px;
}  

.img10 {
  width: 300px;
  height: 200px;
  grid-column: 2/3;
  grid-row: 4/5;
  border-bottom: #CF8562 solid 5px;
}

.footer {
  font-family: Montserrat Regular;
  background-color: #dfb79e;
  color: #fff;
  padding: 50px;
  text-align: center;
  border: #CF8562 solid 5px;
}

.contact-info, .social-media {
  display: inline-block;
  margin: 0 20px;
  text-align: left;
}

.contact-info h3, .social-media h3 {
  color: #fff;
}

.social-media ul {
  list-style: none;
  padding: 0;
}

.social-media li {
  margin-bottom: 8px;
}

.social-media a {
  text-decoration: none;
  color: #fff;
}

.social-media a:hover {
  text-decoration: underline;
}

.copyright {
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  
  .footer {
    background-color: #DFB79E;
    color: #DFB79E;
    text-align: center;
    padding: 20px;
    margin-top: 61%;
  }

  .grid {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr, 1fr,  1fr, 1fr, 1fr;
    grid-template-rows:  1fr,  1fr, 1fr, 1fr, 1fr;
    justify-content: center;
    align-content: center;
  }

 .img1 {
  width: 100px;
  height: 75px;
  grid-column: 3/4;
  grid-row: 1/2;
}

.img2 {
  width: 200px;
  height: 133.333px;
  grid-column: 1/3;
  grid-row: 1/3;
}

.img3 {
  width: 100px;
  height: 75px;
  grid-column: 4/5;
  grid-row: 1/2;
}

.img4 {
  width: 100px;
  height: 75px;
  grid-column: 3/4;
  grid-row: 2/3;
}

.img5 {
  width: 200px;
  height: 133.33px;
  grid-column: 3/5;
  grid-row: 3/5;
}

.img6 {
  width: 100px;
  height: 75px;
  grid-column: 4/5;
  grid-row: 2/3;
}

.img7 {
  width: 100px;
  height: 75px;
  grid-column: 1/2;
  grid-row: 3/4;
}

.img8 {
  width: 100px;
  height: 75px;
  grid-column: 2/3;
  grid-row: 3/4;
}

.img9 {
  width: 100px;
  height: 75px;
  grid-column: 1/2;
  grid-row: 4/5;
}  

.img10 {
  width: 100px;
  height: 75px;
  grid-column: 2/3;
  grid-row: 4/5;
}

}