* { box-sizing: border-box;
}

body {
    font-family: BlackMango-ExtraLight;
    padding: 10px;
    background-color: #E6D4C9;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
@font-face {
    font-family: Montserrat Regular;
    src: url(./fonts/Montserrat-Regular.ttf)
  }
  @font-face {
    font-family: BlackMango-ExtraLight;
    src: url(./fonts/BlackMango-ExtraLight.ttf)
  }

.line{
    text-decoration: none;
  }

.topnav {
    font-family: BlackMango-ExtraLight;
    background-color: #DFB79E;
    overflow: hidden;
    text-align: center;
    align-items: center;
}
.topnav a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    left: 150px;
}

.topnav .n:hover {
    background-color: #E6D4C9;
    color: #DFB79E;
  }

.header {
    padding: 30px;
    text-align: center;
    background: #E6D4C9;
}
.header h1 {
    font-size: 50px;
    opacity: 80%;
}

.leftcolumn {   
    float: left;
    width: 75%;
    opacity: 80%;
}

.rightcolumn {
    float: left;
    width: 25%;
    background-color: #E6D4C9;
    padding-left: 20px;
    opacity: 80%;
}
.fakeimg {
    background-color: #CF8562;
    width: 100%;
    padding: 20px;
}

.card {
    background-color: #E6D4C9;
    padding: 20px;
    margin-top: 20px;
}
.row::after {
    content: "";
    display: table;
    clear: both;
}

footer {
    opacity: 70%;
    font-family: Montserrat Regular;
    background-color: #dfb79e;
    color: #fff;
    padding: 50px;
    text-align: center;
    border: #CF8562 solid 5px;
}

.contact-info, .social-media {
    display: inline-block;
    margin: 0 20px;
    text-align: left;
}

.contact-info h3, .social-media h3 {
    color: #fff;
}

.social-media ul {
    list-style: none;
    padding: 0;
}

.social-media li {
    margin-bottom: 8px;
}

.social-media a {
    text-decoration: none;
    color: #fff;
}

.social-media a:hover {
    text-decoration: underline;
}

.copyright {
    margin-top: 20px;
}

@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
    }
}


@media screen and (max-width: 400px) {
    .topnav a {
    float: none;
    width: 100%;
    }
}