
html {
    background-color: #E6D4C9;
}
body {
  background-image: url('./images/img7.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.topnav {
    font-family: BlackMango-ExtraLight;
    background-color: #DFB79E;
    overflow: hidden;
    text-align: center;
    align-items: center;
  }
  
.topnav a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    left: 150px;
  }
  
.topnav .n:hover {
    background-color: #E6D4C9;
    color: #DFB79E;
  }

.logo {
  width: 60%;
  height: 400px;
  position: absolute;
  top: 63px;
  left: 20%;
  border-left: #DFB79E solid 5px;
  border-right: #DFB79E solid 5px;
  border-bottom: #DFB79E solid 5px;
}

.line{
  text-decoration: none;
}

@font-face {
    font-family: BlackMango-ExtraLight;
    src: url(./fonts/BlackMango-ExtraLight.ttf)
  }
@font-face {
  font-family: Montserrat Regular;
  src: url(./fonts/Montserrat-Regular.ttf)
}
.container {
  position: absolute;
  font-family: Montserrat Regular;
  top: 57%;
  width: 70%;
  left: 15%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #E6D4C9;
  color: #CF8562;
  text-align: center;
  border: #CF8562 solid 5px;
}

.box1 {
  position: relative;
  padding: 20px;
  width: 30%;
  height: 300px;
  top: -30px;
  left: 68%;
  box-sizing: border-box;
  background-color: #E6D4C9;
  color: #CF8562;
  text-align: center;
  border: #CF8562 solid 5px;
}

.box2 {
  position: relative;
  padding: 20px;
  top: 271px;
  left: 35%;
  width: 30%;
  height: 300px;
  box-sizing: border-box;
  background-color: #E6D4C9;
  color: #CF8562;
  text-align: center;
  border: #CF8562 solid 5px;
}

.box3 {
  position: relative;
  top: 570px;
  left: 2%;
  padding: 20px;
  width: 30%;
  height: 300px;
  box-sizing: border-box;
  background-color: #E6D4C9;
  color: #CF8562;
  text-align: center;
  border: #CF8562 solid 5px;
  font-family: Montserrat Regular;
}

.img1 {
  width: 300px;
  height: 250px;
}
.img2 {
  width: 300px;
  height: 250px;
}

.footer {
  font-family: Montserrat Regular;
  background-color: #dfb79e;
  color: #fff;
  padding: 50px;
  text-align: center;
  border: #CF8562 solid 5px;
}

.contact-info, .social-media {
  display: inline-block;
  margin: 0 20px;
  text-align: left;
}

.contact-info h3, .social-media h3 {
  color: #fff;
}

.social-media ul {
  list-style: none;
  padding: 0;
}

.social-media li {
  margin-bottom: 8px;
}

.social-media a {
  text-decoration: none;
  color: #fff;
}

.social-media a:hover {
  text-decoration: underline;
}

.copyright {
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  html {
    background-color: #E6D4C9;
  }
  body {
    background-image: url('./images/img7.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .topnav {
      font-family: BlackMango-ExtraLight;
      background-color: #DFB79E;
      overflow: hidden;
      text-align: center;
      align-items: center;
    }

  .topnav a {
      display: inline-block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      left: 150px;
    }

  .topnav a:hover {
      background-color: #E6D4C9;
      color: #DFB79E;
    }

  .topnav a.active {
      background-color: #DFB79E;
      color: white;
    }

  .logo {
    width: 60%;
    height: 400px;
    position: absolute;
    top: 55px;
    left: 20%;
    border-left: #DFB79E solid 5px;
    border-right: #DFB79E solid 5px;
    border-bottom: #DFB79E solid 5px;
  }

  @font-face {
      font-family: BlackMango-ExtraLight;
      src: url(./fonts/BlackMango-ExtraLight.ttf)
    }
  @font-face {
    font-family: Montserrat Regular;
    src: url(./fonts/Montserrat-Regular.ttf)
  }
  .container {
    position: absolute;
    font-family: Montserrat Regular;
    top: 85%;
    width: 70%;
    left: 15%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #E6D4C9;
    color: #CF8562;
    text-align: center;
    border: #CF8562 solid 10px;
  }

  .box1 {
    position: relative;
    padding: 20px;
    width: 30%;
    height: 300px;
    top: 200px;
    left: 68%;
    box-sizing: border-box;
    background-color: #E6D4C9;
    color: #CF8562;
    text-align: center;
    border: #CF8562 solid 10px;
  }

  .box2 {
    position: relative;
    padding: 20px;
    top: 501px;
    left: 35%;
    width: 30%;
    height: 300px;
    box-sizing: border-box;
    background-color: #E6D4C9;
    color: #CF8562;
    text-align: center;
    border: #CF8562 solid 10px;
  }

  .box3 {
    position: relative;
    top: 800px;
    left: 2%;
    padding: 20px;
    width: 30%;
    height: 300px;
    box-sizing: border-box;
    background-color: #E6D4C9;
    color: #CF8562;
    text-align: center;
    border: #CF8562 solid 10px;
    font-family: Montserrat Regular;
  }

  .img1 {
    width: 300px;
    height: 250px;
  }
  .img2 {
    width: 300px;
    height: 250px;
  }

.footer {
  opacity: 70%;
  font-family: Montserrat Regular;
  background-color: #dfb79e;
  color: #fff;
  padding: 50px;
  text-align: center;
  border: #CF8562 solid 5px;
  }
}

