html {
  background-color: #F1E2D8;
}
.topnav {
  background-color: #DFB79E;
  overflow: hidden;
  text-align: center;
  align-items: center;
}

.topnav a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  left: 150px;
}

.topnav a:hover {
  background-color: #ddd;
  color: #ddd;
}

.topnav a.active {
  background-color: #DFB79E;
  color: white;
}

  .footer {
    background-color: #DFB79E;
    color: #DFB79E;
    text-align: center;
    padding: 20px;
    margin-top: 55%;
  }
  
.grid{
  display: grid;
}

.one {
  width: 200px;
  height: 200px;

}
.two {
  width: 200px;
  height: 200px;
}
.three {
  width: 200px;
  height: 200px;
}
.four {
  width: 200px;
  height: 200px;
}

.five {
  width: 200px;
  height: 200px;
}