html {
    background-color: #F1E2D8;
}
.topnav {
    background-color: #DFB79E;
    overflow: hidden;
    text-align: center;
    align-items: center;
  }
  
.topnav a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    left: 150px;
  }
  
.topnav a:hover {
    background-color: #ddd;
    color: #ddd;
  }

.topnav a.active {
    background-color: #DFB79E;
    color: white;
  }

img {
  width: 90%;
  height: 600px;
  padding-top: 15px;
  position: absolute;
  top: 40px;
  left: 5%;
  border-left: #DFB79E solid 5px;
  border-right: #DFB79E solid 5px;
  border-bottom: #DFB79E solid 5px;
}

  /* .fade {
    position: absolute;
    top: 40px;
    left: 5%;
    width: 90%;
    height: 620px;
    background: linear-gradient(to bottom, rgba(10, 10, 10, 0), #E6D4C9);
    border-left: #DFB79E solid 5px;
    border-right: #DFB79E solid 5px;
    border-bottom: #DFB79E solid 5px;
  } */

.container {
  position: absolute;
  top: 100%;
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #E6D4C9;
  color: #DFB79E;
  text-align: center;
  border: #CF8562 solid 10px;
}

.footer {
  background-color: #DFB79E;
  color: #DFB79E;
  text-align: center;
  padding: 20px;
  margin-top: 55%;
}