<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="C:\Users\nweave474\Documents\GitHub\Photo-Intern\static\about.css">
    <title>Gallery</title>
</head>
<body>
    <div class="topnav">
        <a class="active" href="index.html">Home</a>
        <a href="picture.html">Gallery</a>
        <a href="lifestory.html">About</a>
        <a href="services.html">Services</a>
      </div>
    
</body>
</html>