<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/about.css">
    <link rel="icon" type="image/png" href="../images/favicon-16x16.png">
    <title>Gallery</title>
</head>
<body>
    <div class="topnav">
        <a class="active" href="index.html">Home</a>
        <a href="picture.html">Gallery</a>
        <a href="lifestory.html">About</a>
        <a href="services.html">Services</a>
      </div>
      <div class="grid">
            <img class='img1' src="../images/capture1.PNG">
            <img class='img2' src="../images/photo.PNG">
            <img class='img3' src="../images/capture3.PNG">
            <img class='img4' src="../images/capture4.PNG">
            <img class='img5' src="../images/s logo.PNG">
            <img class='img6' src="../images/img6.jpg">
            <img class="img7" src="../images/img7.jpg">
            <img class="img8" src="../images/img8.jpg">
            <img class="img9" src="../images/img9.jpg">        
        </div>
      
      <div class="footer"></div>
</body>
</html>